

    <div class="col-10">
        <div style="width: 400px;">
            <h2>Add Product Details</h2>
            <form action="" method="post" class="container" enctype="multipart/form-data">
                category
                <select name="category" id="" class="form-select border-2 border-dark" required>
                    {{!-- <option>category</option> --}}
                    {{#each admincat}}
                    <option value="{{this._id}}">{{this.catName}}</option>
                    {{/each}}
                </select>
                Sub category
                <select name="subcategory" id="" class="form-select border-2 border-dark">
                    {{!-- <option>subCategory</option> --}}
                    {{#each subcat}}
                    <option value="{{this._id}}">{{this.subCategory}}</option>
                    {{/each}}
                </select>
                Product name
                <input type="text" name="productName" class="form-control border-2 border-dark" required>
                Product Description
                <textarea class="form-control border-2 border-dark" name="description" required></textarea>
                Product price
                <input type="number" name="price" class="form-control border-2 border-dark" required>
                Product Image
                <input type="file" name="image" class="form-control border-2 border-dark">
                <button type="submit" class="btn btn-dark m-2 p-2">Submit</button>
            </form>
        </div>
      
    </div>

    <div>

    </div>

