<div style="margin-left: 200px;">
    <h2 class="">Edit Category</h2>

    <form action="" method="post" enctype="multipart/form-data" class=" container bg-secondary m-2 w-50">
        Category Name:
        <input type="text" name="categoryName" class="form-control " value="{{editData.catName}}">
        Category Description
        <textarea name="categoryDescription"  class="form-control" >{{editData.catDesc}}</textarea>
        Category image <br>
        <img src="/images/admin/category/{{editData.catImage}}" alt="" height="100px" width="150px">
        <input type="file" name="image" class="form-control">
        <button type="submit">Update</button>
    </form>
</div>