<div class="container" style="height: 250px;width:400px">
    <h2> Edit Subcategory</h2>


    <form action="" method="post" class="container border-2 border-dark ">
        <input type="hidden" value="{{category.categoryName}}" id="hide" >
          Select category
        <select name="category" id="category" class="form-control border-3 border-dark">
            {{#each adminCategory}}
            <option value="{{this._id}}">{{this.catName}}</option>
            {{/each}}
        </select>

        Enter Subcategory
        <input type="text" name="subCategory" value="{{category.subCategory}}"
            class="form-control border-3 border-dark">

        <button class="btn btn-dark p-2 m-2">submit</button>
    </form>
</div>

<script>
    let catselect = document.getElementById('category');
    let hides = document.getElementById('hide').value;

    for (let i = 0; i < catselect.options.length; i++) {
        let opt = catselect.options[i];
        if (opt.value == hides) {
            opt.selected = true;
            break;
        }
    }
</script>