<div class="row">

    <div class="d-flex flex-column  p-3 text-bg-dark col-2 " style="min-height: 510px;">
        <ul class="nav nav-pills flex-column mb-auto">
            <li class="nav-item">
                <a href="/admin" class="nav-link text-white" aria-current="page">
                    {{!-- <svg class="bi pe-none me-2" width="16" height="16">
                    </svg> --}}
                    Category
                </a>
            </li>
            <li>
                <a href="/admin/subCategory" class="nav-link text-white">
                    {{!-- <svg class="bi pe-none me-2" width="16" height="16">
                    </svg> --}}
                    SubCategory
                </a>
            </li>
            <li>
                <a href="/admin/product" class="nav-link text-white">
                    {{!-- <svg class="bi pe-none me-2" width="16" height="16">
                    </svg> --}}
                    Product
                </a>
            </li>
            <li>
                <a href="/admin/users" class="nav-link active">
                    {{!-- <svg class="bi pe-none me-2" width="16" height="16">
                    </svg> --}}
                    Users
                </a>
            </li>
        </ul>
    </div>

    <div class="col-10">
    </div>